.btn-detail{
    margin-top: 20px;
}

.btn-count button{
    cursor: pointer;
    margin-top: 10px;
    background-color: red;
    border-radius: 10px;
    outline: none;
    width: 50px;
    color: white;
    transition: 0.5s;
}

.btn-count button:hover{
    background-color: rgb(149, 2, 2);
}

.btn-shop{
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    background-color: red;
    color: white;
    transition: 0.5s;
}

.btn-shop:hover{
    background-color: rgb(149, 2, 2);
}
